
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
 
  font-family: "Roboto", sans-serif;
 
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.logo {
  height: auto;
  width: auto;
  padding: 2px;
  max-height: 72px;
  max-width: 250px;
}

.img-responsive {
  height: 200px;
  width: 96%;
  margin: auto;
  margin-top: 2px;
}

.responsive {
  max-width: 80vw;
  margin: 2px auto;
  background-color: #dddcdc;
  display: grid;
  
}

.responsive-item {
  padding: 2px;
  height: 340px;
  max-width: 320px;
  color: #222;
  font-size: 0.77rem;
  line-height: 1.7;
  overflow: auto;
  background-color: #fff;
}

.services {
  color-scheme: dark !important;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  color: #ec123a;
  position: relative;
  background: radial-gradient(10px, currentColor 94%, #0000);
}
.loader-index {
  z-index: 9999!important;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(9px at bottom right, #0000 94%, currentColor) top
      left,
    radial-gradient(9px at bottom left, #0000 94%, currentColor) top right,
    radial-gradient(9px at top right, #0000 94%, currentColor) bottom left,
    radial-gradient(9px at top left, #0000 94%, currentColor) bottom right;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: l18 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes l18 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }
  66% {
    inset: -10px;
    transform: rotate(90deg);
  }
  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

.black-gradient {
  background: #000000; /* Fallback for older browsers */
  background: -webkit-linear-gradient(
    45deg,
    /* Adjust the angle as needed */ #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    45deg,
    /* Adjust the angle as needed */ #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* pricing component */
.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  border-radius: 12px;
}

.topContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1 1;
  padding: 18px 48px;
  box-sizing: border-box;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  flex: 1.4 1;
}

.bottomLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #b3612b;
  flex: 1 1;
  padding: 48px;
  border-radius: 0 0 0 12px;
}

.bottomRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #c18a4c;
  flex: 1 1;
  padding: 48px;
  border-radius: 0 0 12px 0;
}

.heading {
  color: #efefef;
  font-size: 18px;
  font-weight: bold;
}

.button {
  color: #efefef;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px 2px #77777777;
  width: 100%;
  margin-top: 24px;
}

/* Default styles for larger screens */
.my-sidebar {
  width: 18vw;
}
.my-other-sidebar {
  width: 15vw;
}

.my-body {
  width: 75vw;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  /* Hide the sidebar with absolute positioning */

  .my-sidebar {
    display: none;
  }
  .my-other-sidebar {
    display: none;
  }

  /* Make the body take full width */
  .my-body {
    width: 100vw;
    /* Optionally, add some margin on the left for spacing */
  }
}

@media screen and (min-width: 640px) {
  .search {
    display: none !important;
  }
}
.slick-slide > div {
  margin: 0 10px;
}


input{
  width: 100%;
  padding: 10px;
  height: 50px;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}




.slider {
  display: flex;
  overflow: hidden;
  position: relative;
}

.slider-item {
  width: 300px; /* Adjust the width as per your card */
  transition: transform 0.7s ease;
  transform: translateX(0);
  display: none;
}

.slider-item.show {
  display: block;
}

.my-form span{
width: 100%;
padding: 2px 0;
}


.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

.close{
  display: block;
}
@media (min-width: 1024px) {
 .close {
      
      visibility: hidden;
  }
}